<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h2>
number of products in stock
<a href= "<%=admin_products_path %>">
<%= @num_p %>
</a>
</h2>

<h2>
number of Categorys of products in stock
<a href= "<%= root_path %>">
<%= @num_c %>
</a>
</h2>

