<h1>Dashboard</h1>

<div class="row">
    <div class="card col-md-4">
   <div class="card-body ">
  <h2><%= link_to @num_p, [:admin, :products] , class: ""%> </h2>
  </div>
     <div class="card-footer "> Products </div>

   <div class="card-body ">
  <h2><%= link_to @num_c, [:admin, :categories] , class: ""%> </h2>
  </div>
     <div class="card-footer "> Categories</div>
</div>
</div>


